[Unit]
Description=PYPI HTTP server

[Service]
Type=simple

PIDFile=/var/run/pypi-server.pid
ExecStart=/usr/bin/pypi-server --config=/etc/pypi-server.conf

Restart=always
RestartSec=2

TimeoutStartSec=5
TimeoutStopSec=10


[Install]
WantedBy=multi-user.target