from slimurl import URL

# storage = './packages'
address = '127.0.0.1'
port = 8080
proxy_mode = True
pool_size = 16
secret = 'change me please'
database = URL('sqlite:///tmp/test.db')
user = 'nobody'
