# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / package
.Python
env/
bin/
build/
develop-eggs/
dist/
sdist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tests / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

/dist
/buid
/env*
/.idea

/packages

.DS_Store

/postgresql