<div class="col-md-12" id="index-page">
    <div class="col-md-12">
        <h4>
            <span ng-if="!tasks.length">Not actions yet.</span>
            <span ng-if="tasks.length">Performing actions</span>
        </h4>
        <table class="table" ng-show="tasks.length">
            <tr>
                <th>State</th>
                <th>Description</th>
                <th>Since</th>
                <th>Due</th>
            </tr>
            <tr ng-repeat="t in tasks">
                <td><span class="label" ng-bind="labelText(t)" ng-class="labelClass(t)"></span></td>
                <td ng-bind="t.name" class="col-md-4"></td>
                <td ng-bind="t.ts|date:'yyyy-MM-dd HH:mm:ss'" class="col-md-3"></td>
                <td ng-bind="t.resolved|date:'yyyy-MM-dd HH:mm:ss'" class="col-md-3"></td>
            </tr>
        </table>
    </div>
</div>