<div class="col-md-12" id="index-page">
    <div class="col-md-12">
        <table class="table table-condensed" width="100%">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>State</th>
                <th>PID</th>
                <th>IP</th>
            </tr>
            <tr ng-href="/container/{{ c.name }}" class="container-row" ng-repeat="c in $root.containers track by $index">
                <td ng-bind="$index + 1"></td>
                <td><a ng-href="/#/container/{{ c.name }}" ng-bind="c.name"></a></td>
                <td><span class="label" ng-class="$root.labelClass(c.state)" ng-bind="c.state"></span></td>
                <td ng-bind="c.pid?c.pid:'unknown'"></td>
                <td ng-bind="c.ip[0]?c.pid:'unknown'"></td>
            </tr>
        </table>
    </div>
</div>